# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib
/benchmarks/**/*.a

# Executables
*.exe
*.out
*.app

# Python trash
*.pyc

# Downloadable files
*.tar.*

# Makefiles
benchmarks/**/Makefile

# Log files
*.log

.vscode

# Directories
/outputs
/bin
/log
/inputs/*
*_old
sys/apps/ferret/parsec/
/ppis/*
/libs/*

!/inputs/*.json
!/ppis/*/*.sh
!/libs/*/*.sh


