# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib
/benchmarks/**/*.a

# Executables
*.exe
*.out
*.app

# Python trash
*.pyc

# Downloadable files
*.tar.*

# Makefiles
benchmarks/**/Makefile

# Log files
*.log

# Other
.vscode
*.gpg

# SPBench directories
/outputs
/bin
/log
/inputs/*
*_old
sys/apps/ferret/parsec/
/ppis/grppi/**
/ppis/SPar/*
/ppis/fastflow/*
/ppis/tbb/*
/ppis/WindFlow/*
/libs/*/**/*
#/libs/upl/*
libs/libraries_env_vars.json

!/libs/spbench/
!./inputs/*.json
!setup_*.sh
!setup_*.py
!./libs/*/*.sh
!./libs/*/*.py